/*body {
    margin: 0;
    background-color: blueviolet;
    color: aliceblue;
}*/
#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 175px;
    height: auto;
    flex-wrap: wrap;
    gap: 5px;
}
#container div{
    width: 2rem;
    height: 2rem;
    background-color: rgb(219, 7, 35);
    box-sizing: border-box;
    
}
