/*body {
    margin: 0;
    background-color: blueviolet;
    color: aliceblue;
}*/
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#container div{
    width: 2rem;
    height: 2rem;
    background-color: rgb(219, 7, 35);
    box-sizing: border-box;
    
}
