/*body {
    margin: 0;
    background-color: blueviolet;
    color: aliceblue;
}*/
#container div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 7, 35);
   
    margin: 10px;
    padding: 10px;
}
